@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
  /* ---GENERAL PAGE FORMATING--- */
  .page-body {
    text-align: center;
    margin: 3rem;
    height: 110vh;
  }
  /* ---GENERAL BUTTON FORMATING--- */
  .btn.btn-secondary {
    background-color: #FF0080;
    font-weight: bolder;
    margin: 5px;
  }
  .btn.btn-secondary:hover {
    color: #FF0080;
    background-color: white;
  }
  
  /* ---FOOTER--- */
  footer {
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #cfdfef;
    display: flex;
    justify-content: space-around;
  }
  
  /* ---FORMS--- */
  form {
    margin-left: 20%;
    margin-right: 20%;
  }
  input {
    text-align: center;
  }
  div.form-group {
    margin-bottom: 15px;
  }
  
  /* ---HEADER--- */
  header {
    font-size: 20px;
    background-color: #c0d5ea;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0
  }
  .logo {
    width: 100px;
    margin-left: 20px;
  }
  .nav-bar {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 50px;
  }
  
  /* ---HOME--- */
  .homeimage {
    height: 500px;
    width: 750px;
    padding-top: 10%;
  }
  div.background {
    background: url('../assets/homeimage.jpg') repeat;
    border: 2px solid black;
  }
  
  div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
  
  /* ---INDEX--- */
  .index-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card.card-body {
    width: 300px;
    background-color: #FFFEF1;
    margin: 20px;
  }
  
  /* ---NAV--- */
  a {
    color: black !important;
    text-decoration: none !important;
  }
  a:hover {
    cursor: pointer !important;
    color: #FF0080 !important;
    text-decoration: underline !important;
  }
  
  /* ---NOT FOUND--- */
  .friend {
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  /* ---SHOW--- */
  .card-show.card.card-body {
    margin: 0 auto;
  }