@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
  /* ---GENERAL PAGE FORMATING--- */
  .page-body {
    text-align: center;
    margin-top: 170px;
  }

  button {
    padding: 10px;
    background-color: #cfdfef;
    color: white;
  }

  button:hover {
    cursor: pointer;
    background-color: #FF0080;
    color: black;
  }
  
  /* ---GENERAL BUTTON FORMATING--- */
  // .btn.btn-secondary {
  //   background-color: #FF0080;
  //   font-weight: bolder;
  //   margin: 5px;
  // }
  // .btn.btn-secondary:hover {
  //   color: #FF0080;
  //   background-color: white;
  // }
  
  /* ---FOOTER--- */
  footer {
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c0d5ea;
    display: flex;
    justify-content: space-around;
  }
  
  /* ---FORMS--- */
  form {
    margin-left: 20%;
    margin-right: 20%;
  }
  input {
    text-align: center;
  }
  div.form-group {
    margin-bottom: 15px;
  }
  
  /* ---HEADER--- */
  header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #c0d5ea;
    position: fixed;
    width: 100%;
    top: 0
  }
  .logo {
    // width: 100px;
    // margin-left: 20px;
    height: 150px;
    margin-left: 20px;
  }
  .nav-bar {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
  }
  
  .nav-link {
    margin: 10px;
    color: #cfdfef;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 50px;
    text-decoration: none;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  
  /* ---HOME--- */
  .homeimage {
    height: 500px;
    width: 750px;
    margin-top: 200px
    // padding-top: 10%;
  }
  div.background {
    background: url('../assets/homeimage.jpg') repeat;
    border: 2px solid black;
  }
  
  div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
  
  /* ---INDEX--- */
  .card {
    text-align: left;
    border: 1px solid black;
    padding: 40px;
    border: 1px solid black;
  }

  .cards {
    display: flex;
    justify-content: space-around;

  }

  .fa-icon {
    font-size: 25px;
    padding-right: 10px;
  }
  // .index-cards {
  //   display: flex;
  //   justify-content: space-around;
  //   flex-wrap: wrap;
  // }
  // .card.card-body {
  //   width: 300px;
  //   background-color: #FFFEF1;
  //   margin: 20px;
  // }
  
  /* ---NAV--- */
  a {
    color: black !important;
    text-decoration: none !important;
  }
  a:hover {
    cursor: pointer !important;
    color: #FF0080 !important;
    text-decoration: underline !important;
  }
  
  /* ---NOT FOUND--- */
  .friend {
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  /* ---SHOW--- */
  .card-show.card.card-body {
    margin: 0 auto;
  }